.small {
    font-size: x-small;
}

.capitalize {
    text-transform: capitalize;
}

.right {
    float: right;
}

.indigo {
    color: indigo !important;
}

.blue {
    color: dodgerblue !important;
}

.page {
    padding-left: 16px !important;
    padding-right: 16px !important;
}


/* Rules for icon sizes: */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; } /* Default */
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }