<div layout="column" layout-fill>
    <div id="footer" ng-include=" 'templates/header.html' "></div>
    <!-- Inicia contenido -->
    <md-content class="autoScroll page">
      <md-list>
        <md-subheader class="md-no-sticky">Datos del usuario</md-subheader>
        <md-list-item class="md-3-line">
          <img gravatar-src="speaker.speaker_email" gravatar-size="100" class="md-avatar" alt="{{ item.account_username }}">
          <div class="md-list-item-text" layout="column">
            <h3 class="blue">{{ item.account_username }}</h3>
            <h4>{{ item.account_firstname }} {{ item.account_lastname }}</h4>
            <p>{{ item.account_email }}</p>
            <p class="indigo">{{ item.reference_account }} : {{ item.reference_line }}</p>
            <p>{{ item.accounts_has_references_timestamp | date:'medium' }}</p>
            <p>{{ item.reference_price | currency }}</p>
          </div>
        </md-list-item>
      </md-list>
      <md-divider></md-divider>
      <section>
        <md-switch class="md-primary" ng-model="item.accounts_has_references_on" aria-label="Confirmación">
          Confirmación
        </md-switch>
        <md-input-container class="md-block" flex-gt-xs>
          <label>Nombre del evento</label>
          <md-select ng-disabled="!item.accounts_has_references_on" ng-model="item.event_id">
            <md-option ng-repeat="event in list" value="{{ event.event_id }}">
              {{ event.event_name }}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>Folio de pago</label>
          <input ng-disabled="!item.accounts_has_references_on" ng-model="item.accounts_has_references_serie">
        </md-input-container>
      </section>
    </md-content>
    <!-- Termina contenido -->
    <md-button class="md-fab md-fab-bottom-right" ng-click="save()">        
     <md-icon> check </md-icon>
    </md-button>
</div>